#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  --grey: grey;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  margin-top: 2em;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  position: relative;
  transition: box-shadow 0.2s ease;
}

.card:hover {
  /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px 8px;
  cursor: pointer; /* Indicates clickability for upvote */
}

.controls {
  display: flex;
  align-items: center;
}

.read-the-docs {
  color: #888;
}

.vote-comment-container {
  display: flex;
  justify-content: space-between; /* Aligns items to the left and right */
  margin-top: 10px; /* Adds some space above the container */
}

.vote-comment-container span {
  display: flex;
  align-items: center; /* Vertically centers items */
}

.title-author-container {
  display: flex;
  justify-content: space-between; /* Aligns items to the left and right */
}

.card-body {
  flex: 1 1 auto;
  padding-top: 1em;
  /* padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x); */
  color: var(--bs-card-color);
}

.article-container {
  max-width: 800px; /* Set a max-width matching the image */
  margin: 0 auto; /* Center the container */
  padding: 16px; /* Optional padding */
}

.article-body {
  text-align: justify;
  text-justify: inter-word;
  padding: 1rem 0rem 1rem 0rem;
}

.image {
  width: 100%;
  border-radius: 1rem;
  margin: 1rem 0rem 1rem 0rem;
}

.text-controls {
  display: flex; /* Use flexbox for alignment */
  flex-direction: column; /* Stack text and controls vertically */
  align-items: flex-start; /* Align items to the left */
}

.comment-card {
  margin-top: 1rem;
  border-radius: 25px;
  border: 1px solid #73ad21;
  padding: 20px;
  margin: 10px 0;
  padding: 10px;
  /* border: 1px solid #ddd; */
  transition: all 0.3s ease; /* Smooth transition when pulse ends */
}

.pulse {
  animation: pulse 1s ease-in-out; /* Pulse twice over 2s */
  /* background-color: #cee6ad; */
  border: 1px solid #73ad21;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(206, 230, 173, 0); /* No glow */
  }
  50% {
    transform: scale(1.05); /* Slight grow */
    box-shadow: 0 0 10px 5px rgba(206, 230, 173, 0.7); /* Glow peak */
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(206, 230, 173, 0); /* Glow fades */

  }
}

.comment-author-container {
  display: flex;
  justify-content: space-between; /* Aligns items to the left and right */
}

.comment-author {
  font-weight: bold;
}
.comment-date {
  color: var(--grey);
}

.comment-body-container {
  margin-top: 1rem;
  text-align: justify;
  text-justify: inter-word;
  border-radius: 1rem;
  line-height: normal;
}

.comment-votes-date-container {
  display: flex;
  justify-content: space-between; /* Aligns items to the left and right */
  margin-top: 10px; /* Adds some space above the container */
}

.comment-votes-date-container span {
  display: flex;
  align-items: center; /* Vertically centers items */
}
